In [1]:
import pandas as pd

In [2]:
fPath = './datas/tuiguangyuan.xlsx'

In [3]:
tuiData = pd.read_excel(fPath,error_bad_lines=False)

In [4]:
tuiData.head()

               微信名称         手机号码 来源/加入方式       邀请方        加入时间
0           晟道集团～王平  13436082540      H5       宫晓宇  2020-04-11
1                 -  13813573868      H5       宫晓宇  2020-04-11
2   王春盛 19905101314  13851085877      H5       宫晓宇  2020-04-11
3        angle12250  15683019726      H5   晟道集团～王平  2020-04-11
4        angle12250  18623319726      H5   晟道集团～王平  2020-04-11

In [5]:
tuiData.count

<bound method DataFrame.count of                  微信名称         手机号码 来源/加入方式       邀请方        加入时间
0             晟道集团～王平  13436082540      H5       宫晓宇  2020-04-11
1                   -  13813573868      H5       宫晓宇  2020-04-11
2     王春盛 19905101314  13851085877      H5       宫晓宇  2020-04-11
3          angle12250  15683019726      H5   晟道集团～王平  2020-04-11
4          angle12250  18623319726      H5   晟道集团～王平  2020-04-11
..                ...          ...     ...       ...         ...
262           晟道文化-丹丹  13637991341      H5         -  2020-03-05
263                宋苗  13883612737     小程序         -  2020-03-05
264               海茉灿  13983935867     小程序         -  2020-03-05
265          晟道文化-尚炎彬  15037979381     小程序         -  2020-03-05
266           晟道文化-宋阳  13601921997     小程序         -  2020-03-04

[267 rows x 5 columns]>

In [6]:
namePath = './datas/推广员对应合伙人真实姓名与区域 1.xlsx'

In [7]:
nameData = pd.read_excel(namePath)

In [8]:
nameData

     Unnamed: 0                推广员昵称 真实姓名   大区
0           NaN    美匠婚礼小梅13385274688  刘红梅   三区
1           NaN                  NaN  NaN  NaN
2           NaN                  NaN  NaN  NaN
3           NaN   晟道文化～荣珏梒（jué  hán）  荣雪原   四区
4           NaN   晟道文化～荣珏梒（jué  hán）  荣雪原   四区
..          ...                  ...  ...  ...
198         NaN              宴飨导师-张丽   张丽   三区
199         NaN   晟道文化～荣珏梒（jué  hán）  荣雪原   四区
200         NaN                   颜伟   颜伟   二区
201         NaN                   魏伟   魏伟   总部
202         NaN            玺宴宴会酒店徐晓白  徐晓白   二区

[203 rows x 4 columns]

In [9]:
data_tuiguang = pd.merge(tuiData,nameData,left_on='微信名称',right_on='推广员昵称',how='left')

In [10]:
data_tuiguang

,微信名称,手机号码,来源/加入方式,邀请方,加入时间,Unnamed: 0,推广员昵称,真实姓名,大区
0,晟道集团～王平,13436082540,H5,宫晓宇,2020-04-11,NaN,NaN,NaN,NaN
1,-,13813573868,H5,宫晓宇,2020-04-11,NaN,NaN,NaN,NaN
2,王春盛 19905101314,13851085877,H5,宫晓宇,2020-04-11,NaN,NaN,NaN,NaN
3,angle12250,15683019726,H5,晟道集团～王平,2020-04-11,NaN,NaN,NaN,NaN
4,angle12250,18623319726,H5,晟道集团～王平,2020-04-11,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
398,晟道文化-丹丹,13637991341,H5,-,2020-03-05,NaN,NaN,NaN,NaN
399,宋苗,13883612737,小程序,-,2020-03-05,NaN,NaN,NaN,NaN
400,海茉灿,13983935867,小程序,-,2020-03-05,NaN,NaN,NaN,NaN
401,晟道文化-尚炎彬,15037979381,小程序,-,2020-03-05,NaN,NaN,NaN,NaN
402,晟道文化-宋阳,13601921997,小程序,-,2020-03-04,NaN,NaN,NaN,NaN

In [11]:
data_tuiguang.drop(['加入时间','来源/加入方式','Unnamed: 0'],axis=1,inplace=True)

In [12]:
data_tuiguang

                 微信名称         手机号码       邀请方 推广员昵称 真实姓名   大区
0             晟道集团～王平  13436082540       宫晓宇   NaN  NaN  NaN
1                   -  13813573868       宫晓宇   NaN  NaN  NaN
2     王春盛 19905101314  13851085877       宫晓宇   NaN  NaN  NaN
3          angle12250  15683019726   晟道集团～王平   NaN  NaN  NaN
4          angle12250  18623319726   晟道集团～王平   NaN  NaN  NaN
..                ...          ...       ...   ...  ...  ...
398           晟道文化-丹丹  13637991341         -   NaN  NaN  NaN
399                宋苗  13883612737         -   NaN  NaN  NaN
400               海茉灿  13983935867         -   NaN  NaN  NaN
401          晟道文化-尚炎彬  15037979381         -   NaN  NaN  NaN
402           晟道文化-宋阳  13601921997         -   NaN  NaN  NaN

[403 rows x 6 columns]

In [13]:
duplicate_row = data_tuiguang.duplicated(subset=['微信名称'],keep='first')

In [14]:
duplicate_row

0      False
1      False
2      False
3      False
4       True
       ...
398     True
399    False
400    False
401    False
402     True
Length: 403, dtype: bool

In [15]:
def get_bool(x):
    if x==True:
        return False
    return True

In [16]:
juge = duplicate_row.apply(get_bool)

In [17]:
data=data_tuiguang.loc[ juge,:]

In [18]:
data

                 微信名称         手机号码       邀请方 推广员昵称 真实姓名   大区
0             晟道集团～王平  13436082540       宫晓宇   NaN  NaN  NaN
1                   -  13813573868       宫晓宇   NaN  NaN  NaN
2     王春盛 19905101314  13851085877       宫晓宇   NaN  NaN  NaN
3          angle12250  15683019726   晟道集团～王平   NaN  NaN  NaN
5                  周航  18182210670       宫晓宇   NaN  NaN  NaN
..                ...          ...       ...   ...  ...  ...
396               张君朔  13139051119         -   NaN  NaN  NaN
397           晟道文化-丹丹  13637991341         -   NaN  NaN  NaN
399                宋苗  13883612737         -   NaN  NaN  NaN
400               海茉灿  13983935867         -   NaN  NaN  NaN
401          晟道文化-尚炎彬  15037979381         -   NaN  NaN  NaN

[253 rows x 6 columns]

In [19]:
 data.to_excel('./datas/name_clean.xlsx',index=False)